/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9141ac;
  --ifm-color-primary-dark: #833a9b;
  --ifm-color-primary-darker: #7b3792;
  --ifm-color-primary-darkest: #662d78;
  --ifm-color-primary-light: #9e4abb;
  --ifm-color-primary-lighter: #a14fbd;
  --ifm-color-primary-lightest: #a353be;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #dc8add;
  --ifm-color-primary-dark: #ce5bcf;
  --ifm-color-primary-darker: #cb52cd;
  --ifm-color-primary-darkest: #c94aca;
  --ifm-color-primary-light: #e4a6e5;
  --ifm-color-primary-lighter: #e8b4e9;
  --ifm-color-primary-lightest: #f5ddf5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}